<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/burger_style.css">
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Kalam|Permanent+Marker" rel="stylesheet">
        
        <title>Munch-a-Burger</title>
    </head>

<body>

    <br>
    <br>

    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <img src="/assets/img/burger_img.png" width="50%">
            </div>
        </div>


    <!-- Handlebar body content -->
    {{{body}}}

    </div>

    <footer>
        <div class="row">
            <div class="col-md-12 text-center mt-2">
                <p>©2018. By Michael Yang</p>
            </div>
        </div>
    </footer>

</body>

</html>